<p id="notice"><%= notice %></p>

<h1>Groups</h1>

    <% @groups.each do |group| %>
      <div class="">
        <div class="d-inline">

          <%= image_tag(group.icon_attachment_path, class: 'rounded-circle card-img-top img-fluid', style:"width:50px; height:50px") %>

        </div>
        <div class="d-inline">
          <strong><%= link_to group.name, group %></strong>
          <small>
            <%= group.created_at.strftime('%B %d %Y') %>
          </small>
        </div>
        <br/>
        <br/>
      </div>
    <% end %>

    <div class="no-group">
      <div class="d-inline">

      <%=  image_tag("nogroup.png", class:"rounded-circle", style:"width:50px; height:50px") %>

      </div>
      <div class="d-inline">
        <strong><%= link_to "No Group", no_group_index_path %></strong>
      </div>
      <br/>
      <br/>
    </div>

<br>

<%= link_to 'New Group', new_group_path %>
