<p id="notice"><%= notice %></p>

<h1>Groups</h1>

    <% @groups.each do |group| %>
      <%= image_tag(group.icon, class:"rounded-circle", style:"width:50px; height:50px") %>

      <strong><%= group.name %></strong>
      <small>
        <%= group.created_at.strftime('%B %d %Y') %>
      </small>
      <br/>
    <% end %>

<br>

<%= link_to 'New Group', new_group_path %>
