<p id="notice"><%= notice %></p>

<h1 class="display-6">All my external transactions :</h1>
<hr/>

<h2 class="display-6">Total amount= $<%= all_transactions(@transactions) %></h2>

<% @transactions.each do |transaction| %>
  <div class="d-inline">
    <div class="d-inline-block">
      <%= image_tag(transaction.group.icon, class:"rounded-circle", style:"width:80px; height:80px") %>
    </div>
    <div class="d-inline-block align-middle">
      <h5><%= transaction.name %> </h5>
      <small><%= transaction.created_at.strftime('%B %d %Y') %></small>
    </div>
  </div>
  <div class="d-inline">
    <strong>Paid amount $<%= transaction.amount %></strong>
  </div>
  <br>
<% end %>



<%= link_to 'New Transaction', new_transaction_path %>
